

html body .post .container {
    padding-top: 6em;
    padding-bottom: 5em;
}

html body .post .container a {
    text-decoration: none;
    color: #d62135;
    font-weight: 600;
}

html body .post .container a:link {
    text-decoration: none;
    color: #d62135;
    font-weight: 600;
}

html body .post .container .go_back {
    text-transform: uppercase;
    font-weight: 600;
    font-size: .9em;
    color: #d62135;
    text-decoration: none !important;
    margin-bottom: 3em;
}

html body .post .container h1:first-of-type {
    display: block;
    border-bottom: 1px solid;
    padding-bottom: 1em;
    margin-bottom: 0.5em;
    font-weight: 600;
    font-size: 36px;
    font-family: 'brandon-grotesque', sans-serif !important;
}

html body .post .container em {
    color: #666;
    margin-bottom: 2.5em;
}

.elementor {
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
}

.elementor * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.elementor-section {
    position: relative;
}


.elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1140px;
}
.elementor-section .elementor-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.elementor-column {
    position: relative;
    min-height: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}


.elementor:not(.elementor-bc-flex-widget) .elementor-widget-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.elementor-widget-wrap {
    position: relative;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}
.elementor-35434 .elementor-element.elementor-element-b205799 {
    text-align: center;
}




.elementor-widget {
    position: relative;
}
.elementor-element .elementor-widget-container {
    -webkit-transition: background 0.3s, border 0.3s, -webkit-border-radius 0.3s, -webkit-box-shadow 0.3s;
    transition: background 0.3s, border 0.3s, -webkit-border-radius 0.3s, -webkit-box-shadow 0.3s;
    -o-transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s, -webkit-border-radius 0.3s, -webkit-box-shadow 0.3s;
}

html body .post .container img {
    display: block;
    margin: 2em auto 3em ;
    height: auto;
    width: auto;
    max-width: 100%;
}

.elementor-widget-image img {
    vertical-align: middle;
    display: inline-block;
}
.elementor img {
    height: auto;
    max-width: 100%;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.elementor-35434 .elementor-element.elementor-element-f89dc04 {
    --divider-border-style: solid;
    --divider-color: #000;
    --divider-border-width: 1px;
}

.elementor-widget-wrap > .elementor-element {
    width: 100%;
}

.elementor-widget-divider {
    --divider-color: var( --e-global-color-secondary );
}

.elementor-35434 .elementor-element.elementor-element-f89dc04 .elementor-divider {
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-widget-divider .elementor-divider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.elementor-35434 .elementor-element.elementor-element-f89dc04 .elementor-divider-separator {
    width: 100%;
}

.elementor-widget-divider:not(.elementor-widget-divider--view-line_text):not(.elementor-widget-divider--view-line_icon) .elementor-divider-separator {
    border-top: var(--divider-border-width) var(--divider-border-style) var(--divider-color);
}

.elementor-widget-divider .elementor-divider-separator {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    direction: ltr;
}

.elementor *, .elementor *:before, .elementor *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

[class*=col-]:after {
    content: "";
    display: table;
    clear: both;
}





.elementor:not(.elementor-bc-flex-widget) .elementor-widget-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.elementor-35434 .elementor-element.elementor-element-b7cef3d {
    color: #000000;
}



.elementor-widget-text-editor {
    color: var( --e-global-color-text );
    font-family: var( --e-global-typography-text-font-family ), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight );
}

.elementor-widget-google_maps .elementor-widget-container {
    overflow: hidden;
}
.elementor .elementor-custom-embed {
    line-height: 0;
}
html body .post .container iframe {
    display: block;
    margin: 0em auto;
}
.elementor-widget-google_maps iframe {
    height: 300px;
}
.elementor iframe {
    max-width: 100%;
    width: 100%;
    margin: 0;
    line-height: 1;
    border: none;
}

html body .post .container .nav-posts {
    display: inline-block;
    position: relative;
    padding: 2em 0 0;
    margin-bottom: 4em;
    clear: both;
}
html body .post .container .nav-posts #prev, html body .post .container .nav-posts #next {
    position: relative;
    float: left;
}
html body .post .container .nav-posts #prev a {
    margin: 0;
}


html body #prev a{
    z-index: 0;
    position: relative;
    padding: 0.8em 1.4em 0.7em;
    text-align: center;
    background-color: #d62135;
    margin: 1em auto;
    width: auto;
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    line-height: inherit;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border: 2px solid;
    border-color: #fff;
    cursor: pointer;
    display: table;
    clear: both;
    text-decoration: none !important;
    overflow: hidden;
    transition: all 100ms ease-in-out;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
}


html body .post .container .nav-posts #prev, html body .post .container .nav-posts #next {
    position: relative;
    float: left;
}

html body .post .container .nav-posts #prev a{
    margin: 0;
}

html body .post .container .nav-posts #next {
    position: relative;
    float: left;
}

html body .post .container .nav-posts #next a {
    margin: 0;
}

html body #next a {
    z-index: 0;
    position: relative;
    padding: 0.8em 1.4em 0.7em;
    text-align: center;
    background-color: #d62135;
    margin: 1em auto;
    width: auto;
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    line-height: inherit;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border: 2px solid;
    border-color: #fff;
    cursor: pointer;
    display: table;
    clear: both;
    text-decoration: none !important;
    overflow: hidden;
    transition: all 100ms ease-in-out;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
}

html body .wrapper #blog_section {
    margin-top: 0em;
    margin-bottom: 0em;
    padding: 1em 0em;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

html body .wrapper #blog_section .container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0em;
}

html body .wrapper #blog_section article:nth-of-type(3n + 1) {
    clear: both;
}

html body .wrapper #blog_section article {
    width: calc(33.3% - 0.333em);
    float: left;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    overflow: hidden;
    border: 1px solid;
    border-color: #d62135;
    background-color: #fff;
}

html body .wrapper #blog_section article:nth-of-type(3n) {
    margin-right: 0em;
}

html body .loads, html body .loadsblog {
    display: none;
}

html body .wrapper #blog_section article .featured {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #d62135;
}

html body .wrapper #blog_section article .featured img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 0rem;
}

html body .wrapper #blog_section article .details {
    display: block;
    float: left;
    width: 100%;
    padding: 1rem 1.5rem;
}

html body .wrapper #blog_section article .details h3 {
    font-size: 1.8em;
    line-height: 1.2em;
}

html body .wrapper #blog_section article .details .button {
    position: relative;
    left: 0;
    margin: 0;
}

html body a.button, html body #prev a, html body #next a, html body input[type="submit"] {
    z-index: 0;
    position: relative;
    padding: 0.8em 1.4em 0.7em;
    text-align: center;
    background-color: #d62135;
    margin: 1em auto;
    width: auto;
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    line-height: inherit;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border: 2px solid;
    border-color: #fff;
    cursor: pointer;
    display: table;
    clear: both;
    text-decoration: none !important;
    overflow: hidden;
    transition: all 100ms ease-in-out;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
}






@media (min-width: 768px){
    .elementor-column.elementor-col-100, .elementor-column[data-col="100"] {
        width: 100%;
    }
}

@media (min-width: 768px){
    .elementor-column.elementor-col-100 {
        width: 100%;
    }
}

.elementor-column-gap-default > .elementor-column > .elementor-element-populated {
    padding: 10px;
}

.elementor:not(.elementor-bc-flex-widget) .elementor-widget-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.elementor-widget-wrap {
    position: relative;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

@media (max-width: 575px){
    html body h2 {
        font-size: 1.5em;
        line-height: 1.15em;
    }
}


.woocommerce a.button {
    float: left;
    font-size: .8em;
    text-align: center;
    background-color: #d62135;
    color: white;
    border: 2px solid;
    border-color: #d62135;
    cursor: pointer;
    clear: both;
    overflow: hidden;
    transition: all 100ms ease-in-out;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
}

.elementor-widget-image-carousel .swiper-container {
    position: static;
}

.elementor-pagination-position-outside .swiper-container {
    padding-bottom: 30px;
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.elementor-widget:not(:last-child) {
    margin-bottom: 20px;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.elementor .elementor-widget:not(.elementor-widget-text-editor):not(.elementor-widget-theme-post-content) figure {
    margin: 0;
}

.elementor .elementor-widget:not(.elementor-widget-text-editor):not(.elementor-widget-theme-post-content) figure {
    margin: 0;
}

.elementor-widget-image-carousel .swiper-container .swiper-slide figure {
    line-height: inherit;
}

.elementor-widget:not(:last-child) {
    margin-bottom: 20px;
}

[class^="eicon"], [class*=" eicon-"] {
    display: inline-block;
    font-family: eicons;
    font-size: inherit;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.eicon-chevron-left:before {
    content: '\e87e';
}

.elementor *, .elementor *:before, .elementor *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.elementor-screen-only, .screen-reader-text, .screen-reader-text span, .ui-helper-hidden-accessible {
    position: absolute;
    top: -10000em;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}


.elementor-swiper-button {
    position: absolute;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    z-index: 1;
    cursor: pointer;
    font-size: 25px;
    color: rgba(238, 238, 238, 0.9);
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.elementor-swiper-button-next {
    right: 10px;
}

.elementor-pagination-position-outside .elementor-swiper-button {
    top: calc(50% - 30px / 2);
}

.swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000;
}
.elementor-widget-image-carousel .swiper-slide {
    text-align: center;
}
.swiper-slide {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

html body .post .container .nav-posts {
    display: inline-block;
    position: relative;
    padding: 2em 0 0;
    margin-bottom: 4em;
    clear: both;
}
.eicon-chevron-right:before {
    content: '\e87d';
}
b {
    font-weight: bold;
}