
html body h1.pagetitle, html body h1.align_center {
    position: relative;
    text-align: center;
    color: #d62135;
    clear: both;
    width: 100%;
    margin: 55px 0 1em;
    padding: 0 8%;
}

html body h1.pagetitle:after, html body h1.align_center:after {
    display: block;
    position: relative;
    clear: both;
    margin: 0 auto;
    border-bottom: 4px solid #dadada;
    content: '';
    width: 70%;
    min-width: 10px;
    max-width: 100px;
}

.woocommerce .col2-set, .woocommerce-page .col2-set {
    *zoom: 1;
    width: 100%;
}

.woocommerce .col2-set::before {
    content: ' ';
    display: table;
}

.woocommerce .col2-set .col-1 {
    float: left;
    width: 48%;
}

.col-1, .col-auto {
    -webkit-box-flex: 0;
}

.col-1 {
    width: 8.3333333333%;
    padding-left: .5%;
    padding-right: .5%;
}

.woocommerce form.login, .woocommerce form.checkout_coupon, .woocommerce form.register {
    border: 1px solid #eba5ad;
    padding: 20px;
    text-align: left;
    border-radius: 5px;
}

.woocommerce .woocommerce-form-login {
    margin: 0 auto;
    min-width: 300px;
    width: 80%;
    max-width: 400px;
}

.woocommerce form .form-row-wide {
    clear: both;
}

.woocommerce form .form-row, .woocommerce-page form .form-row {
    *zoom: 1;
}

.woocommerce form .form-row::before, .woocommerce form .form-row::after, .woocommerce-page form .form-row::before, .woocommerce-page form .form-row::after {
    content: ' ';
    display: table;
}

.woocommerce form .form-row label, .woocommerce-page form .form-row label {
    display: block;
}

.woocommerce form .form-row label {
    line-height: 2;
}

html body .wrapper label {
    display: block;
    padding-top: 1em;
    width: auto;
}

.woocommerce form .form-row .required {
    visibility: visible;
}

.woocommerce form .form-row .required {
    color: red;
    font-weight: 700;
    border: 0 !important;
    text-decoration: none;
    visibility: hidden;
}

html body .wrapper label span {
    display: inline-block;
    position: relative;
}

.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    outline: 0;
    line-height: normal;
}

.woocommerce form .form-row .input-text, .woocommerce-page form .form-row .input-text {
    box-sizing: border-box;
    width: 100%;
}

.woocommerce form .form-row::after, .woocommerce-page form .form-row::after {
    clear: both;
}

.woocommerce form .form-row::after {
    content: ' ';
    display: table;
}
.woocommerce form .form-row-wide, .woocommerce-page form .form-row-wide {
    clear: both;
}
.woocommerce form .form-row, .woocommerce-page form .form-row {
    *zoom: 1;
}
.woocommerce form .form-row {
    padding: 3px;
    margin: 0 0 6px;
}

.woocommerce form .form-row::before {
    content: ' ';
    display: table;
}

.woocommerce form .form-row label {
    display: block;
}



.col-2 {
    width: 16.6666666667%;
    padding-left: .5%;
    padding-right: .5%;
}

.woocommerce .col2-set .col-2 {
    width: 46%;
}

.woocommerce form.register {
    border: 1px solid #eba5ad;
    padding: 20px;
    text-align: left;
    border-radius: 5px;
}

.woocommerce button.button {
    float: left;
    font-size: .8em;
    text-align: center;
    background-color: #d62135;
    color: white;
    border: 2px solid;
    border-color: #d62135;
    cursor: pointer;
    clear: both;
    overflow: hidden;
    transition: all 100ms ease-in-out;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
}

.woocommerce .woocommerce-form-login #rememberme {
    display: inline-block;
    width: auto;
    line-height: 200px;
    margin-left: 10px;
    margin: 73px 0 0 20px;
}

.woocommerce form .form-row .required {
    visibility: visible !important;
}

.woocommerce form .form-row .required {
    color: red;
    font-weight: 700;
    border: 0 !important;
    text-decoration: none;
    visibility: hidden;
}

.woocommerce button.button:hover {
    border-color: #d62135;
    background-color: transparent;
    color: #d62135 !important;
}

html body .wrapper input:focus {
    outline: none;
}

.woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit {
    float: left;
    font-size: .8em;
    text-align: center;
    background-color: #d62135;
    color: white;
    border: 2px solid;
    border-color: #d62135;
    cursor: pointer;
    clear: both;
    overflow: hidden;
    transition: all 100ms ease-in-out;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
}

html body button:hover, html body button:focus {
    background-color: #030405;
    color: #fff;
}

@media (max-width: 768px)
{
    .woocommerce .col2-set .col-1, .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-1, .woocommerce-page .col2-set .col-2 {
        float: none !important;
        clear: both ;
        width: 100% !important;
    }
}


.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
    float: right;
    width: 48%;
}

.woocommerce form .form-row label.inline {
    display: inline;
}


html body .wrapper input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px rgb(0 0 0 / 10%) inset;
    color: #010101 !important;
}

html body .wrapper textarea:focus, html body .wrapper input[type=text]:focus, html body .wrapper input[type=tel]:focus, html body .wrapper input[type=email] :focus, html body .wrapper input[type=submit]:active, html body .wrapper input[type=submit]:focus, html body .wrapper input[type=button]:active, html body .wrapper input[type=button]:focus, html body .wrapper input[type=text]:active, html body .wrapper input[type=text]:focus, html body .wrapper input[type=tel]:active, html body .wrapper input[type=tel]:focus, html body .wrapper input[type=email]:active, html body .wrapper input[type=email]:focus, html body .wrapper textarea:active, html body .wrapper textarea:focus, html body .wrapper label:focus {
    background-color: rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #d62135;
}