.input_field {
  position: relative;
  padding: 2px 0px;
}
.input_field > *:not(div) {
  padding-left: 8px;
  padding-right: 8px;
}
.input_field > label {
  position: relative;
  top: 0;
  left: 0;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
  padding: 0px 6px 6px 0;
  display: inline-block;
  text-transform: capitalize;
}
.input_field .caption {
  margin: 0;
  font-size: 12px;
  padding-bottom: 10px;
  color: #aaa;
}
.input_field.checkbox input, .input_field.checkbox label {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}
.input_field input, .input_field textarea, .input_field select, .input_field table {
  color: rgba(0, 0, 0, 0.6588235294);
}
.input_field input, .input_field textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: var(--border-radius);
  max-width: calc(100% - 10px);
  margin: 0px;
  margin-bottom: 0;
  font-size: 14px;
  transition: all 0.3s ease;
}
.input_field input:not(.select2-search__field):focus, .input_field textarea:not(.select2-search__field):focus {
  outline: none;
  border: 1px solid var(--base-color) !important;
}
.input_field input[readonly], .input_field textarea[readonly] {
  background-color: #f2f5f7;
}
.input_field input::placeholder, .input_field textarea::placeholder {
  opacity: 0.5;
  font-style: italic;
}
.input_field select {
  width: 100%;
  padding: 10px 9px;
  border-radius: var(--border-radius);
  border-color: #ebebeb;
}
.input_field select:focus {
  outline: none;
}
.input_field select[readonly].select2 + .select2-container .select2-selection {
  pointer-events: none;
  background-color: #f2f5f7;
}
.input_field textarea:not(.select2-search__field) {
  min-height: 101px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  line-height: 22px;
  transition: all 0.3s ease;
}
.input_field.checkbox {
  position: relative;
  display: inline-block;
}
.input_field.checkbox label {
  background-color: transparent;
  color: #000;
  padding: 8px 20px 8px 18px;
  border-radius: var(--border-radius);
  cursor: pointer;
  pointer-events: none;
  user-select: none;
  font-weight: 500;
  box-shadow: 0 0 2px inset rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}
.input_field.checkbox label:before {
  content: "\ea9c";
  margin-right: 8px;
  font: normal normal normal 1em/1 "lineicons";
  color: inherit;
  flex-shrink: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  position: relative;
  top: -1px;
}
.input_field.checkbox input {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  z-index: 10;
  max-width: initial;
}
.input_field.checkbox input:checked + label {
  background-color: var(--color-2);
  color: white;
}
.input_field.checkbox input:checked + label:before {
  content: "\ead1";
}
.input_field.inline-checkbox {
  position: relative;
  display: inline-block;
}
.input_field.inline-checkbox input {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  z-index: 10;
  max-width: initial;
}
.input_field.inline-checkbox input:checked + label {
  background-color: var(--color-2);
}
.input_field.inline-checkbox input:checked + label:before {
  content: "\ead2";
}
.input_field.inline-checkbox label {
  padding-left: 0;
  position: relative;
  transition: all 0.2s ease;
}
.input_field.inline-checkbox label::selection {
  background-color: transparent;
}
.input_field.inline-checkbox label:before {
  content: "";
  margin-right: 6px;
  font: normal normal normal 1em/1 "lineicons";
  color: inherit;
  flex-shrink: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  position: relative;
  top: -1px;
  font-size: 10px;
  border: 1px solid #aaa;
  padding: 3px;
  display: inline-block;
  width: 18px;
  height: 18px;
  transition: all 0.2s ease;
  border-radius: 4px;
}
.input_field.inline-checkbox:has(input:checked) label {
  color: var(--color-2);
}
.input_field.inline-checkbox:has(input:checked) label:before {
  background-color: var(--color-2);
  color: #fff;
  content: "\ead1";
  border-color: var(--color-2);
}
.input_field i {
  position: relative;
  z-index: 10;
}
.input_field i.lni-question-circle {
  margin-left: 5px;
  position: relative;
  top: 2px;
}

/*# sourceMappingURL=input_field.css.map */
